@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; 
  --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.text-dark {
  color: #2C5F2D; 
}

.hover\:text-primary:hover {
  color: #97BC62; 
}

.bg-primary {
  background-color: #97BC62; 
}

.bg-primary-dark {
  background-color: #2C5F2D; 
}